body
  margin: 0
  background-color: #ffffff
  



header, main, footer
  max-width: 1600px
  margin: 0 auto


header
  background: url(../images/Home.png)


.nStart
  display: flex  
  flex-direction: row
  
  
.nav-start
  display: flex 
  justify-content: space-between
  padding-top: 40px

.navigation
  display: flex  
  
.navigation-item
  display: flex
  align-items: stretch
  margin: 0px 0px 0 35px
  font-weight: 500
  font-size: 14px
  line-height: 32px
  color: #FFFFFF
  font-family: 'Montserrat', sans-serif

.nav-start
  h5
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    color: #FFFFFF

.startup 
  padding: 260px
  h1
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    color: #FFFFFF
    font-size: 40px
    text-align: center
  p  
    font-family: 'Montserrat', sans-serif
    color: #FFFFFF
    text-align: center
    font-size: 15px
    padding-top: 20px
  
  .but-start
    text-align: center
    padding-top: 35px
  
    button
      font-family: 'Montserrat', sans-serif
      width: 170px
      height: 50px
      font-size: 16px
      line-height: 26px
      text-align: center
      letter-spacing: 0.1em
      color: #FFFFFF
      cursor: pointer
      background: transparent
      background-color: transparent
      margin: 0 auto
      border: 1px solid #ffff

.services-serv
  margin: 0 auto
  padding-top: 100px
  padding-bottom: 100px

  
  h1
    font-family: 'Montserrat', sans-serif
    line-height: 24px
    font-size: 20px
    color: #555555
    text-align: center
    font-weight: bold
    padding-bottom: 30px

  hr      
    max-width: 50px
    
  p  
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 16px
    line-height: 24px
    color: #555555
    padding-top: 30px

.servises-col
  margin: 0 auto
  .container
    padding-bottom: 100px
    .letter
      width: 86px
      height: 86px
      border-radius: 50% 
      position: relative
      margin: 0 auto
    .letter-a  
      img
        position: absolute
        top: 23px
        left: 23.5px
    .letter-wrap
      padding-top: 30px
      h1
        padding-bottom: 25px
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        line-height: 24px
        color: #555555
        text-align: center
        margin: 0
      p  
        text-align: center
        font-family: 'Roboto', sans-serif
        font-size: 14px
        line-height: 24px
        color: #555555
        margin: 0

    .letter-d
      width: 86px
      height: 86px
      border-radius: 50%
      border: 1px solid #555555
      position: relative
      margin: 0 auto

    .let-k
      position: absolute
      top: 23px
      left: 16.5px  

    .letter-h
      width: 86px
      height: 86px
      border-radius: 50%
      border: 1px solid #555555
      position: relative
      margin: 0 auto
    .let-m
      position: absolute
      top: 16.5px
      left: 19px

.about
  background-color: #f8f8f8   
  padding: 100px 0

.about-us
  padding-bottom: 70px
  h1  
  font-family: 'Montserrat', sans-serif
  font-size: 20px
  line-height: 24px
  color: #555555
  text-align: center
  hr
    max-width: 50px
    
  p  
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 16px
    line-height: 24px
    color: #555555
    padding-top: 30px
    margin: 0

.slide-content
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.men
  display: flex
  flex-direction: column


.ovwrap
  margin-top: 20px
  h1
    font-size: 14px
    line-height: 24px
    color: #555555
    text-align: center
    padding-bottom: 10px
    margin: 0
  p
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 13px
    line-height: 24px
    color: #555555

    
.team-pic4
  max-width: 262px
  height: 250px
  position: relative

.team-pic3
  max-width: 262px
  height: 250px
  position: relative

.team-pic2
  max-width: 262px
  height: 250px
  position: relative

.team-pic
  max-width: 262px
  height: 250px
  position: relative 

.over
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  background: rgba(141, 142, 148, 0.6)
  display: none
.over i 
  font-size: 28px
  color: #ffffff
  position: relative
  top: 80%
  left: 25%
  padding-right: 10px
.over img
  position: relative
  top: 80%
  left: 25%
  padding-right: 10px
      
.men:hover .over
  display: block  
.team-pic3:hover .over
  display: block  
.team-pic2:hover .over
  display: block  
.team-pic:hover .over
  display: block    

  

.carousel-control-next-icon, .carousel-control-prev-icon
  border: 1px solid #c0301c
  width: 36px !important
  height: 38px !important
  background-color:  #c0301c !important
   
.carousel-control-prev    
    align-items: center
    justify-content: flex-start !important

.carousel-control-next    
  justify-content: flex-end !important

.Latest
  padding: 100px 0
.Latest-wrap
  h1  
  font-family: 'Montserrat', sans-serif
  font-size: 20px
  line-height: 24px
  color: #555555
  text-align: center
  hr
    max-width: 50px
    
  p  
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 16px
    line-height: 24px
    color: #555555
    padding-top: 30px
    margin: 0
    padding-bottom: 70px

.Latest-prof
  padding: 30px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 10px
  grid-auto-flow: row

.hair 
  width: 100%
  height: 100%
  position: relative 
  margin: 0 auto

.hair-overl
  width: 100%
  height: 100%
  position: absolute
  top: 0%
  left: 0%
  background: rgba(243, 148, 148, 0.6)
  padding-top: 107px
  margin: 0 auto
  text-align: center
  display: none
  h1
    font-family: 'Montserrat', sans-serif
    line-height: 24px
    color: #ffffff
    font-size: 18px
    text-align: center

  p  
    font-family: 'Montserrat', sans-serif
    color: #ffffff
    text-align: center
    font-size: 12px
    line-height: 24px
   
  button
    font-family: 'Montserrat', sans-serif
    width: 100px
    height: 38px
    font-size: 16px
    line-height: 26px
    text-align: center
    letter-spacing: 0.1em
    color: #c0301c
    cursor: pointer
    background-color:  #FFFFFF
    border: none  
  
.hair:hover .hair-overl
  display: block


.Work
  background: url(../images/frash.png)

.work-projekt
  padding: 100px 0
  margin: 0 auto
  text-align: center
  p
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 30px
    line-height: 44px
    color: #ffffff
    padding-bottom: 52px
    max-width: 455px
    margin: 0 auto
  button
    font-family: 'Montserrat', sans-serif
    width: 190px
    height: 49px
    font-size: 18px
    line-height: 44px
    text-align: center
    letter-spacing: 0.1em
    color: #FFFFFF
    cursor: pointer
    background: transparent
    background-color: transparent
    margin: 0 auto
    border: 1px solid #ffff

.BLOG
  padding: 100px 0

.blog-wrap
  h1  
    font-family: 'Montserrat', sans-serif
    font-size: 20px
    line-height: 24px
    color: #555555
    text-align: center
    padding-bottom: 20px
  hr
    max-width: 50px
    
  p  
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 16px
    line-height: 24px
    color: #555555
    padding-top: 20px
    margin: 0
    padding-bottom: 70px  

.blog-img-text
  display: grid 
  padding: 30px
  grid-template-columns: 1fr 3fr
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 10px
  grid-auto-flow: column

.block-text
  display: grid
  padding: 30px
  display: grid
  grid-template-columns: 75px 2fr
  grid-auto-rows: minmax(75px, auto)
  grid-gap: 10px
  

.lorem:nth-child(3)
  grid-column: 1 / -1

.ideas
  padding-right: 5px 

.data
  border: 1px solid black
  img
    padding: 15px 22px

.container 
  max-width: 1200px
  margin: 0 auto

   


//     span
//       font-weight: 300px
//       font-size: 30px
//       line-height: 37px
//       text-align: center
//       letter-spacing: 0.02em
//       color: #FFFFFF
//       padding-left: 8px

//   p 
//     font-weight: 300
//     font-size: 21px
//     line-height: 26px
//     text-align: center
//     color: #FFFFFF   
//     padding-top: 23px 

// .men
//   background-color: #F4F4F4   
//   .container 
//     background-color: #F4F4F4
//     .col 
//       display: flex

//   .row 
//     padding-top: 60px  

//   .shus
//     h3 
//       font-weight: 500
//       font-size: 24px
//       line-height: 29px
//       letter-spacing: 0.03em
//       color: #000000  
//       span 
//         font-size: 24px
//         font-weight: 300
//     p    
//       font-weight: 300
//       font-size: 16px
//       line-height: 20px
//       color: #000000
//       padding-top: 25px
//       padding-bottom: 40px
//       margin-bottom: 0

//     button 
//       background: #D7B399
//       width: 80px
//       height: 30px
//       border: none
//       i
//         color:#ffff

// .dresskod
//   margin: 0 auto
//   .container
//     background-color: #F4F4F4 

// .dress 
//   position: absolute
//   bottom: 0
//   left: 20px
//   font-weight: 300
//   font-size: 21px
//   line-height: 26px
//   letter-spacing: 0.03em
//   color: #000000
//   box-sizing: border-box

// .dresses 
//   padding: 0
//   width: 277px
//   height: 236px

// .row
//   margin-right: 0 !important   
//   margin-top: 0!important   

// .model
//   padding: 150px 0 103px 0
//   h1  
//     font-weight: bold
//     font-size: 36px
//     line-height: 44px
//     letter-spacing: 0.04em
//     text-transform: uppercase
//     color: #212121
//     text-align: center

// .koktel-pla 
//   display: none

// .koktel
//     margin: 0 auto

// .var 
//   width: 205px
//   position: relative
  
//   .kyb
//     width: 25px
//     height: 25px
//     border-style: solid
//     border-width: 3px
//     border-left-color: #D7B399
//     border-top-color:  #D7B399
//     border-bottom-color: transparent
//     border-right-color: transparent
//     position: absolute
//     top: 0
//     left: 0 
 
//   .kyb1
//     width: 25px
//     height: 25px
//     border-style: solid
//     border-width: 3px
//     border-right-color: #D7B399
//     border-top-color:  #D7B399
//     border-left-color: transparent
//     border-bottom-color: transparent
//     position: absolute
//     top: 0
//     right: 0  

//   .kyb2
//     width: 25px
//     height: 25px
//     border-style: solid
//     border-width: 3px
//     border-left-color: #D7B399
//     border-bottom-color:  #D7B399
//     border-top-color: transparent
//     border-right-color: transparent
//     position: absolute
//     bottom: 0
//     left: 0 
  
//   .kyb3
//     width: 25px
//     height: 25px
//     border-style: solid
//     border-width: 3px
//     border-right-color: #D7B399
//     border-bottom-color:  #D7B399
//     border-left-color: transparent
//     border-top-color: transparent
//     position: absolute
//     bottom: 0
//     right: 0  
 
// .pipl-img
//   display: flex
//   justify-content: center
//   flex-direction: column
//   h3
//     font-weight: 600
//     font-size: 14px
//     line-height: 17px
//     text-align: center
//     color: #000000
//     max-width: 112px
//     padding-top: 25px
//     margin: 0 auto
//   p 
//     font-weight: bold
//     font-size: 18px
//     line-height: 22px
//     text-align: center
//     color: #D7B399  
//     padding-top: 15px
      
// .pay
//   margin: 0 auto
//   text-align: center
//   margin-top: 103px
//   margin-bottom: 150px
  

// .mud
//   background: #D7B399
//   width: 220px
//   height: 55px
//   border: none 
//   font-size: 16px
//   line-height: 20px
//   letter-spacing: 0.03em
//   color: #FFFFFF  
//   i 
//     color: #FFFFFF 
//     padding-left: 9px  

// .block1
//   background-color: #212121
//   padding: 72px 0 71px 0
//   margin: 0 auto
// .art
//   span 
//     font-weight: bold
//     font-size: 30px
//     line-height: 37px
//     text-align: center
//     letter-spacing: 0.02em
//     color: #FFFFFF
//     padding-right: 60px
 
//   input
//     font-size: 12px
//     line-height: 15px
//     letter-spacing: 0.02em
//     color: #8D8D8D
//     padding: 13px 0px 12px 20px
//     width: 255px
//     height: 40px
//   button
//     background: #D7B399
//     width: 185px
//     height: 40px
//     border: none
//     font-size: 14px
//     line-height: 17px
//     text-align: center
//     color: #FFFFFF  
//     margin-left: 35px

// .block2
//    margin-top: 150px
//    margin-bottom: 103px
//    h1 
//      font-weight: bold
//      font-size: 36px
//      line-height: 44px
//      text-align: center
//      letter-spacing: 0.04em
//      text-transform: uppercase
//      color: #212121

// .block3
//   background-color: #212121
//   margin-top: 150px
//   padding-top: 80px 0 80px 0
//   display: flex

// .gros
//   display: flex  
//   justify-content: space-between

// .gros-wrap 
//   img
//     padding-right: 20px
//   span
//     font-weight: bold
//     font-size: 24px
//     line-height: 29px
//     letter-spacing: 0.05em
//     text-transform: uppercase
//     color: #FFFFFF
   
//   p  
//     width: 200px
//     font-size: 14px
//     line-height: 22px
//     color: #FFFFFF
//     padding-top: 29px

// .gros
//   padding: 79px 0 78px 0
  
// .gros-main
//   h1
//     font-weight: bold
//     font-size: 10px
//     line-height: 12px
//     display: flex
//     align-items: center
//     text-transform: uppercase
//     color: #FFFFFF  
//     padding-bottom: 20px
//   p  
//     font-size: 14px
//     line-height: 22px
//     color:  #CBCFD4

// .gros-grup
//   h1
//     font-weight: bold
//     font-size: 10px
//     line-height: 12px
//     display: flex
//     align-items: center
//     text-transform: uppercase
//     color: #FFFFFF  
//     padding-bottom: 20px
//   p  
//     font-size: 14px
//     line-height: 22px
//     color:  #CBCFD4

// .gros-gut
//   h1
//     font-weight: bold
//     font-size: 10px
//     line-height: 12px
//     display: flex
//     align-items: center
//     text-transform: uppercase
//     color: #FFFFFF  
//     padding-bottom: 20px
//   p  
//     font-size: 14px
//     line-height: 22px
//     color:  #CBCFD4

// .gros-typ
//   h1    
//     font-weight: bold
//     font-size: 10px
//     line-height: 12px
//     display: flex
//     align-items: center
//     text-transform: uppercase
//     color: #FFFFFF
//     padding-bottom: 20px

// .war
//   i 
//     font-size: 15px
//     color: #ffffff
//     padding-right: 5px
//   span  
//     font-size: 14px
//     line-height: 22px
//     color: #CBCFD4

// .block4
//   padding-top: 30px
//   margin: 0 auto

// .zet
//   max-width: 1110px
//   margin: 0 auto
//   display: flex
//   justify-content: space-between
// .prav
//   margin-left: 0
//   margin-right: 0
//   h1
//     font-size: 14px
//     line-height: 22px
//     color: #CBCFD4


// .container
//   max-width: 1110px
//   margin: 0 auto

// @media screen and ( max-width: 1200px)
//   .nav-item 
//     flex-direction: column
//     justify-content: center

//   .im
//     display: none

//   .nav-tabs
//    i 
//     padding: 10px 
//   .kor   
//     img
//       display: none

//   .dresskod
//     .row
//       flex-direction: column
//       justify-content: center
//       align-items: center
//       height: 100%

//   .dresses 
//     padding: 0
//     justify-content: center
//     display: flex  
//     width: 100%

//   .dress
//     display: none
      
    
// @media screen and ( max-width: 1000px)
//   .koktel
//     display: none
//     .pay
//       margin: 70px 0
  
//   .koktel-pla
//     display: block  
//     justify-content: center
//     align-items: center
//     display: flex
//     .var
//       margin: 0 auto
//       .pipl-img
//         margin-bottom: 15px
//   .art button
//     margin-top: 15px  

// @media screen and ( max-width: 780px)   
//   .block3
//     .gros
//       display: flex
//       flex-direction: column
//       justify-content: center 
//       align-items: center

//     .gros-wrap
//       text-align: center

//   .men
//     display: flex
//     .row
//       display: flex
//       flex-direction: column
//     .col
//       margin-bottom: 15px
