doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    title My Diploma Project

  body

    header
      div(class="nStart")
        .container
          div(class="nav-start")
            h5(class="start-wrap") Startup
            nav(class="navigation")
              a(class="navigation-item" href="#") Home
              a(class="navigation-item" href="#") Services
              a(class="navigation-item" href="#") About
              a(class="navigation-item" href="#") Works
              a(class="navigation-item" href="#") Blog
              a(class="navigation-item" href="#") Clients
              a(class="navigation-item" href="#") Contact

          div(class="startup")
            h1 WELCOME TO STARTUP
            p Your Favourite Creative Agency Template
            div(class="but-start")
             button GET STARTED
      
    main
      section(class="services")
        .container
          .services-serv
            h1 SERVICES
            hr
            p We offer ipsum dolor sit amet, consetetur sadipscing elitr amer 
          .servises-col
            .container
              .row
                .col 
                  .servis-letter
                    .letter
                      img(src="images/Ellipse 1.png")
                      .letter-a
                       img(src="images/fa-font.png")
                    .letter-wrap
                      h1 Clean Typography
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                .col 
                  .servis-letter
                    .letter-d
                      .let-k
                        img(src="images/fa-code.png")
                    .letter-wrap
                      h1 Rock Solid Code
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                .col 
                  .servis-letter
                    .letter-h
                      .let-m
                        img(src="images/fa-support.png")
                    .letter-wrap
                      h1 Clean Typography
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

      section(class="about") 
        .container
          .about-us
            h1 ABOUT US
            hr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
          .about-us-col
            .container
              .row
                .col  
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                .col  
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.  
          
          #carouselExampleInterval.carousel.slide(data-ride='carousel')
            .carousel-inner
              .carousel-item.active(data-interval='10000')
                .slide-content
                  .team-pic4
                    img.d-block.w-100(src='images/nonema-1.png', alt='фото')
                    .over
                      i.fab.fa-facebook-square
                      i.fab.fa-twitter
                      i.fab.fa-google-plus-g
                      i.fab.fa-invision
                  .team-pic3
                    img.d-block.w-100(src='images/Team Pic3.png', alt='фото')
                  .team-pic2
                    img.d-block.w-100(src='images/Team Pic2.png', alt='фото')
                  .team-pic
                    img.d-block.w-100(src='images/Team Pic.png', alt='фото')
              .carousel-item(data-interval='2000')
                .slide-content
                  .team-pic4
                    img.d-block.w-100(src='images/Team Pic4.png', alt='фото')
                  .team-pic3
                    img.d-block.w-100(src='images/Team Pic3.png', alt='фото')
                  .team-pic2
                    img.d-block.w-100(src='images/Team Pic2.png', alt='фото')
                  .team-pic
                    img.d-block.w-100(src='images/Team Pic.png', alt='фото')
              .carousel-item
                .slide-content
                  .team-pic4
                    img.d-block.w-100(src='images/Team Pic4.png', alt='фото')
                  .team-pic3
                    img.d-block.w-100(src='images/Team Pic3.png', alt='фото')
                  .team-pic2
                    img.d-block.w-100(src='images/Team Pic2.png', alt='фото')
                  .team-pic
                    img.d-block.w-100(src='images/Team Pic.png', alt='фото')
            a.carousel-control-prev(href='#carouselExampleInterval', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleInterval', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
        
        
        
        
        
        
        
          //- #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
          //-   .carousel-inner
          //-     .carousel-item.active
          //-       .slide-content.w-100
          //-         .team-pic4
          //-           img.d-block.w-100(src='images/Team Pic4.png', alt='фото')
          //-         .team-pic3
          //-           img.d-block.w-100(src='images/Team Pic3.png', alt='фото')
          //-         .team-pic2
          //-           img.d-block.w-100(src='images/Team Pic2.png', alt='фото')
          //-         .team-pic
          //-           img.d-block.w-100(src='images/Team Pic.png', alt='фото')
          //-     .carousel-item
          //-       .slide-content.w-100
          //-         .team-pic4
          //-           img.d-block.w-100(src='images/Team Pic4.png', alt='фото')
          //-         .team-pic3
          //-           img.d-block.w-100(src='images/Team Pic3.png', alt='фото')
          //-         .team-pic2
          //-           img.d-block.w-100(src='images/Team Pic2.png', alt='фото')
          //-         .team-pic
          //-           img.d-block.w-100(src='images/Team Pic.png', alt='фото')
          //-     .carousel-item
          //-       .carousel-photo
          //-         .team-pic4
          //-           img.d-block.w-100(src='images/Team Pic4.png', alt='фото')
          //-         .team-pic3
          //-           img.d-block.w-100(src='images/Team Pic3.png', alt='фото')
          //-         .team-pic2
          //-           img.d-block.w-100(src='images/Team Pic2.png', alt='фото')
          //-         .team-pic
          //-           img.d-block.w-100(src='images/Team Pic.png', alt='фото')
          //-   a.carousel-control-prev(href='#carouselExampleFade', role='button', data-slide='prev')
          //-     span.carousel-control-prev-icon(aria-hidden='true')
          //-     span.sr-only Previous
          //-   a.carousel-control-next(href='#carouselExampleFade', role='button', data-slide='next')
          //-     span.carousel-control-next-icon(aria-hidden='true')
          //-     span.sr-only Next
      
          



    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
