doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    title My Diploma Project

  body

    header
      div(class="nStart")
        .container
          div(class="nav-start")
            h5(class="start-wrap") Startup
            nav(class="navigation")
              a(class="navigation-item" href="#") Home
              a(class="navigation-item" href="#") Services
              a(class="navigation-item" href="#") About
              a(class="navigation-item" href="#") Works
              a(class="navigation-item" href="#") Blog
              a(class="navigation-item" href="#") Clients
              a(class="navigation-item" href="#") Contact

          div(class="startup")
            h1 WELCOME TO STARTUP
            p Your Favourite Creative Agency Template
            div(class="but-start")
             button GET STARTED
      
    main
      section(class="services")
        .container
          .services-serv
            h1 SERVICES
            hr
            p We offer ipsum dolor sit amet, consetetur sadipscing elitr amer 
          .servises-col
            .container
              .row
                .col 
                  .servis-letter
                    .letter
                      img(src="images/Ellipse 1.png")
                      .letter-a
                       img(src="images/fa-font.png")
                    .letter-wrap
                      h1 Clean Typography
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                .col 
                  .servis-letter
                    .letter-d
                      .let-k
                        img(src="images/fa-code.png")
                    .letter-wrap
                      h1 Rock Solid Code
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                .col 
                  .servis-letter
                    .letter-h
                      .let-m
                        img(src="images/fa-support.png")
                    .letter-wrap
                      h1 Clean Typography
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

      section(class="about") 
        .container
          .about-us
            h1 ABOUT US
            hr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
          .about-us-col
            .container
              .row
                .col  
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                .col  
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.  
          
          #carouselExampleInterval.carousel.slide(data-ride='carousel')
            .carousel-inner
              .carousel-item.active(data-interval='10000')
                .slide-content
                  .men
                    .team-pic4
                      img.d-block(src='images/age.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt="фото")
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Md. Khalil Uddin
                      p Head of Ideas      
                  .men
                    .team-pic3
                      img.d-block(src='images/Team Pic3.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Rubel Miah
                      p Lead WordPress Developer 
                  .men
                    .team-pic2
                      img.d-block(src='images/Team Pic2.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt="фото")
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Shamim Mia
                      p Sr. Web Developer
                  .men
                    .team-pic3
                      img.d-block(src='images/Team Pic.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt="фото")
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 John Doe
                      p Front-end Developer 
              .carousel-item(data-interval='2000')
                .slide-content
                  .men
                    .team-pic4
                      img.d-block(src='images/age.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png, alt="фото"')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Md. Khalil Uddin
                      p Head of Ideas      
                  .men
                    .team-pic3
                      img.d-block(src='images/Team Pic3.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt='фото')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Rubel Miah
                      p Lead WordPress Developer 
                  .men
                    .team-pic2
                      img.d-block(src='images/Team Pic2.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt='фото')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Shamim Mia
                      p Sr. Web Developer
                  .men
                    .team-pic3
                      img.d-block(src='images/Team Pic.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt='фото')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 John Doe
                      p Front-end Developer 
              .carousel-item
                .slide-content
                  .men
                    .team-pic4
                      img.d-block(src='images/age.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt='фото')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Md. Khalil Uddin
                      p Head of Ideas      
                  .men
                    .team-pic3
                      img.d-block(src='images/Team Pic3.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt="фото")
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Rubel Miah
                      p Lead WordPress Developer 
                  .men
                    .team-pic2
                      img.d-block(src='images/Team Pic2.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt='фото')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 Shamim Mia
                      p Sr. Web Developer
                  .men
                    .team-pic3
                      img.d-block(src='images/Team Pic.png', alt='фото')
                      .over
                        i.fab.fa-facebook-square
                        i.fab.fa-twitter
                        img(src='images/fer.png', alt='фото')
                        i.fab.fa-invision
                    .ovwrap                   
                      h1 John Doe
                      p Front-end Developer 

            a.carousel-control-prev(href='#carouselExampleInterval', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleInterval', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

      section(class="Latest")  
        .container
          .Latest-wrap
            h1 LATEST WORKS
            hr
            p All Branding Design Development Strategy
          .Latest-prof
            .hair
              img(src="images/img11.png", alt="картинка")
              .hair-overl
                h1 Hair Dresser
                p Branding
                button View >  
            .hair
              img(src="images/img2.png", alt="картинка")
              .hair-overl
                h1 Postman
                p Branding
                button View > 
            .hair
              img(src="images/img33.png", alt="картинка")
              .hair-overl
                h1 Businessman
                p Branding
                button View >  
            .hair
              img(src="images/img4.png", alt="картинка")
              .hair-overl
                h1 Photographer
                p Branding
                button View >  
            .hair
              img(src="images/img.png", alt="картинка")
              .hair-overl
                h1 Bicycle racer
                p Branding
                button View > 
            .hair
              img(src="images/img1.png", alt="картинка")
              .hair-overl
                h1 Writter
                p Branding
                button View > 
            .hair
              img(src="images/img3.png", alt="картинка")
              .hair-overl
                h1 Economist
                p Branding
                button View >  
            .hair
              img(src="images/teach.png", alt="картинка")
              .hair-overl
                h1 Teacher
                p Branding
                button View > 
            .hair
              img(src="images/work.png", alt="картинка")
              .hair-overl
                h1 Event-manager
                p Branding
                button View >     

      section(class="Work") 
        .container
          .work-projekt
            p Do you like OUR WORK so far? Let's talk about YOUR PROJECT!
            button GET IN TOUCH          

      section(class="BLOG")     
        .container
          .blog-wrap
            h1 Recent blog posts
            hr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet   
          .blog-img-text
            .dlock-blog
              img(src="images/Rectangle 12-1.png", alt="картинка")
            .block-text
              .data
                img(src="images/18 Oct.png", alt="дата")
              .ideas  
                a(class="ideas" href="#") STARTUP IDEAS NEEDS TO BE FUNDED
                p
                  a(class="develop" href="#") By Khalil Uddin in Development 
              .lorem
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                a(class="more" href="#") READ MORE
          hr
          .blog-img-text
            .dlock-blog
              img(src="images/Rectangle 12.png", alt="картинка")
            .block-text
              .data
                img(src="images/18 Oct.png", alt="дата")
              .us-id  
                h1 User Interface Designing Elements
                p By Khalil Uddin in Development 
              .lorem
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam 
                a(class="more" href="#") READ MORE

      section(class="MEDIA")  
        #carouselExampleCaptions.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
            li(data-target='#carouselExampleCaptions', data-slide-to='1')
            li(data-target='#carouselExampleCaptions', data-slide-to='2')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='images/serf8.png', alt='фон')
              .carousel-caption.d-none.d-md-block
                h5 First slide label
                p Nulla vitae elit libero, a pharetra augue mollis interdum.
            .carousel-item
              img.d-block.w-100(src='images/serf8.png', alt='фон')
              .carousel-caption.d-none.d-md-block
                h5 Second slide label
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .carousel-item
              img.d-block.w-100(src='images/serf8.png', alt='фон')
              .carousel-caption.d-none.d-md-block
                h5 Third slide label
                p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          a.carousel-control-prev(href='#carouselExampleCaptions', role='button', data-slide='prev')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleCaptions', role='button', data-slide='next')
            span.sr-only Next
         
          



    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
